<!--包含头部文件-->
{include file="public/header" /}
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/style/base.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/style/library_base.css">
	<script type="text/javascript" src="__STATIC__/index/js_lp/library_base.js"></script>
	<script type="text/javascript" src="__STATIC__/index/js_lp/jq_lp.js"></script>
	<script type="text/javascript" src="__STATIC__/index/js_lp/anima.js"></script>
<body>
<nav class="breadcrumb" ><span>请谨慎删除系列，删除后，系列下面的产品名会被强制删除。(按右边按钮可以刷新)</span>  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="o2o_s_edit('添加系列','{:url('category/edit')}','','300')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span> <span class="r"></span> </div>

 <div class="mt-20">
    <table class="table table-border table-bordered table-bg table-hover table-sort">
      <thead>
        <tr class="text-c">
          <th>ID</th>
          <th>系列名</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>
      {foreach name="proSeries" item="vo"} 
      <tr class="text-c">
        <td>{$key+1}</td>
        <td>{$vo.category}</td>
        <td class="td-manage"> <a style="text-decoration:none" class="ml-5"  href="{:url('category/xldel', ['id'=>$vo.id])}" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
      </tr>
      {/foreach}
      </tbody>
      
    </table>
  </div>
 
</div>

<!--包含头部文件-->
{include file="public/footer" /}

</body>
</html>