<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 新闻管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<li><a _href="{:url('news/index')}" data-title="新闻列表" href="javascript:void(0)">新闻列表</a></li>
				<li><a _href="{:url('news/add')}" data-title="新闻上传" href="javascript:void(0)">新闻上传</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">

		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 轮播图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('deal/apply')}" data-title="轮播图片提交" href="javascript:void(0)">轮播图片提交</a></li>
					<li><a _href="{:url('deal/index')}" data-title="轮播列表" href="javascript:void(0)">图片列表</a></li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品上传<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('category/add')}" data-title="添加产品" href="javascript:void(0)">添加上传</a></li>
					<li><a _href="{:url('category/series')}" data-title="管理系列" href="javascript:void(0)">管理系列</a></li>
					<li><a _href="{:url('category/index')}" data-title="已上传列表" href="javascript:void(0)">已上传列表</a></li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 钻石品质<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<li><a _href="{:url('quality/index')}" data-title="品质简介列表" href="javascript:void(0)">品质列表</a></li>
				<li><a _href="{:url('quality/apply')}" data-title="添加" href="javascript:void(0)">添加列表</a></li>

				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 公司简介<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('profile/index')}" data-title="简介更改" href="javascript:void(0)">简介更改</a></li>

				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 链接管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<li><a _href="{:url('link/index')}" data-title="链接列表" href="javascript:void(0)">链接列表</a></li>

				</ul>
			</dd>
		</dl>
		
	</div>
</aside>